{% extends 'base.html' %}
{% block main %}
<!--右边第二层面包导航-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
     <br />
        <ol class="breadcrumb">
            <li>
                <a href="/">仪表盘</a>
            </li>
            <li>
                <a href="/">

网站访问IP来源


                </a>
            </li>
        </ol>
    </div>
</div> <!--右边导航结束-->

<!--正文部分分了三层-->
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-12 border-bottom white-bg dashboard-header" style="margin-left:15px;height: 800px">

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="mem" style="width: 1000px;height:700px;"></div>



         </div>
    </div>
    <br>


</div> <!--wrapper-content-->



<!--页面尾部-->
<div class="footer fixed">
    <div class="pull-right">
        Version <strong>0.3.1</strong> GPL.
    </div>
    <div>
        <strong>Copyright</strong>Reboot.com  Team © 2014-2015
    </div>
</div>

</div>  <!--page-wrapper-->
</div>   <!--wrapper-->


<script src='/static/pulgin/echarts/echarts.min.js'></script>
<script src='/static/pulgin/echarts/china.js'></script>
<script>

$.getJSON('/mapdata/',function(mapdata){
console.log(mapdata)
var myChart = echarts.init($('#mem')[0]);
var option = {
    title: {
        text: '网站访问来源',
        subtext: '测试数据',
        left: 'center'
    },
    tooltip: {
        trigger: 'item'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ["国内网站访问分布"]
    },
    visualMap: {                      // 调节数据大小的组件
        min: 0 ,
        max: 2500,
        left: 'left',
        top: 'bottom',
        text: ['高','低'],           // 文本，默认为数值文本
        calculable: true
    },
    toolbox: {
        show: true,
        orient: 'horizontal', // horizontal水平（默认），vertical垂直
        left: 'right',
        feature: {
            dataView: {readOnly: false},
            restore: {},
            saveAsImage: {}
         }
    },
    series: [
          {
            name: '国内网站访问分布',
            type: 'map',
            mapType: 'china',
            roam: false,
            label: {
                normal: {
                    show: true
                },
                emphasis: {
                    show: true
                  }
            },
            data:mapdata.mapdata,
        },
    ]
 };
myChart.setOption(option)
})

</script>


{% endblock %}
