{% extends 'base.html' %}

{% block main %}
<!--右边第二层面包导航-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
     <br />
        <ol class="breadcrumb">
            <li>
                <a href="{{ url_for('userinfo') }}">仪表盘</a>
            </li>
            <li>
                <a href="{{ url_for('updatacbt') }}">

机房更新


                </a>
            </li>
        </ol>
    </div>
</div> <!--右边导航结束-->

<!--正文部分分了三层-->
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-12 border-bottom white-bg dashboard-header" style="margin-left:15px;height: 800px">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
	<div class="col-sm-10">
	    <div class="ibox float-e-margins">
		<div class="ibox-title">
		    <h5>填写基本信息</h5>
		<div class="ibox-tools">
			<a class="collapse-link">
			    <i class="fa fa-chevron-up"></i>
			</a>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			    <i class="fa fa-wrench"></i>
			</a>
			<a class="close-link">
			    <i class="fa fa-times"></i>
			</a>
        </div>
       </div>
	<div class="ibox-content">
    <form  id="updateForm" class="form-horizontal">
		<input id='id' type='hidden' name='id' value= {{ result.id }} readonly='true'>

	    <div class='form-group'>
                <label for="name" class="col-sm-3 control-label">机柜名<span class="red-fonts">*</span></label>
                <div class="col-sm-7">
                    <input id="name" name="username" value={{ result.username }} type="text" class="form-control" >
                </div>
	    </div> <!--name-->
	    <div class="hr-line-dashed"></div>
		<div class="form-group">
			  <label for="idc_id" class="col-sm-3 control-label">所在机房</label>
			  <div class="col-sm-8">
			  <select id='idc_id' name="address"  class='multiselect dropdown-toggle btn btn-default'>
                     {% for item in idc%}
                             <option  value="{{item.id}}" selected="selected">{{item.username}}</option>
                    {% endfor %}

		      </select>
			  </div>
	    </div><!--idc-->
	    <div class="hr-line-dashed"></div>
	    <div class="form-group">
			    <label for="u_num" class="col-sm-3 control-label">U位</label>
			    <div class="col-sm-8">
				<input id="u_num" name="U" value="1U" type="text" class="form-control" >
			    </div>
		</div><!--U位-->
		<div class="hr-line-dashed"></div>
		<div class="form-group">
			    <label for="power" class="col-sm-3 control-label">电量</label>
			    <div class="col-sm-8">
				<input id="power" name="power" value="{{ result.power }}" type="text" class="form-control" >
			    </div>
		</div> <!--电量-->
		<div class="hr-line-dashed"></div>
		<div class="form-group">
			    <div class="col-sm-6 col-sm-offset-2">
				<button id="submit_button" class="btn btn-primary">确认更新</button>
				<button class="btn btn-white" type="reset">重置</button>
			    </div>
		</div>
	</form> <!--form-->
 </div> <!--ibox-content-->
</div>  <!---->
</div><!---->

<script>

$("#submit_button").click(function(){
	$.post("/updatacbt/",$("#updateForm").serialize(),function(data){
	    console.log(data)
	    data=JSON.parse(data);
	    if(data["code"] == 0){
		swal({
		    title:'Congratulation',
		    text:data['result'],
		    type:'success',
		    confirmButtonText:'确定'
		    },function(){
			location.href='/cbtlist/'
		    })
	    }else{
		swal('Error',data['errmsg'],'error')
	    }
	})
    return false
})
</script>


         </div>
    </div>
    <br>


</div> <!--wrapper-content-->



<!--页面尾部-->
<div class="footer fixed">
    <div class="pull-right">
        Version <strong>0.3.1</strong> GPL.
    </div>
    <div>
        <strong>Copyright</strong>Reboot.com  Team © 2014-2015
    </div>
</div>

</div>  <!--page-wrapper-->
</div>   <!--wrapper-->

{% endblock %}
